<form name="form" class="form-horizontal">
<div class="control-group" ng-class="{error: form.Todo.$invalid}">
    <div class="row">
        <div class="controls col-xs-5">
            <label class="control-label" for="todoInput">Todo</label>
            <input id="todoInput" name="todoInput" type="text" class="form-control" ng-model="item.todo">
        </div>
    </div>
    <div class="row">
        <div class="controls col-xs-5">
            <label class="control-label" for="priorityInput">Priority</label>
            <input id="priorityInput" name="priorityInput" type="text" class="form-control" ng-model="item.priority">
        </div>
    </div>
    <div class="row">
        <div class="controls col-xs-5">
            <label class="control-label" for="dueDateInput">Due</label>
            <input id="dueDateInput" name="dueDateInput" type="text" class="form-control" calendar ng-model="item.dueDate">
        </div>
    </div>
    <br />
    <div class="row form-actions">
        <div class="controls col-xs-5">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()" >Cancel</button>
        </div>
    </div>
</div>
</form>